*
{
    margin: 0;
    padding: 0;
}

.section-1
{
    background-image: url('../img/alaska_mountain_1.jpg');
}

.section-2
{
    background-image: url('../img/alaska_mountain_2.jpg');
}

.section-3
{
    background-image: url('../img/alaska_mountain_3.jpg');
}

.section-4
{
    background-image: url('../img/alaska_mountain_4.jpg');
}

.section-5
{
    background-image: url('../img/alaska_mountain_5.jpg');
}

.section-6
{
    background-image: url('../img/alaska_mountain_6.jpg');
}

.section-7
{
    background-image: url('../img/alaska_mountain_7.jpg');
}


.bottom-arrow
{
    position: relative;
    top: 70vh;
    left: 50vw;
    font-size: 100px;
    color: rgb(200, 136, 19);
}

.background-image
{
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    opacity: 80%;
}

.alaska
{
    position: relative;
    top: 10vh;
    left: 40vw;
    font-size: 200px;
}