.paw
{
    position: absolute;
    top: 15vh;
    left: 50vw;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.journey
{
    position: absolute;
    top: 23vh;
    left: 46vw;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.section-1
{
    background-image: url('../../img/background/alaska_mountain_1.jpg');
}

.alaska
{
    position: absolute;
    top: 35vh;
    left: 35vw;
    font-size: 200px;
}

.tour-and-travel
{
    position: absolute;
    top: 65vh;
    left: 45vw;
    color: rgb(255, 255, 255);
    font-size: 25px;
}