.alaska-question
{
    font-size: 55px;
    width: 250px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
    position: relative;
    top: 35vh;
    left: 15vw;
}

.section-2-text
{
    display: grid;
    top: 5vh;
    left: 45vw;
    grid-template-columns: repeat(1, 700px);
    grid-template-rows: repeat(2, 125px);
    position: relative;
}

.section-2-button
{
    position: relative;
    top: 10vh;
    left: 45vw;
}