.section-3
{
    background-image: url('../../img/background/alaska_mountain_3.jpg');
}

.section-3-header
{
    position: relative;
    top: 5vh;
    left: 45vw;
    width: 300px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
}

.picture-container
{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    top: 20vh;
    left: 20vw;
}

.pic-resize
{
    width: 300px;
    height: 300px;
}

.dropdown-arrow
{
    position: relative;
    bottom: 50px;
    left: 15px;
    font-size: 50px;
}