.section-6
{
    background-image: url('../../img/background/alaska_mountain_6.jpg');
}

.person
{
    border-radius: 50%;
    position: relative;
    top: 15vh;
    left: 45vw;
}

.testimonial
{
    display: grid;
    position: relative;
    top: 15vh;
    left: 37vw;
    grid-template-columns: 500px;
    grid-template-rows: 200px 50px;
    text-align: center;
}

.bottom-arrow-6
{
    position: relative;
    top: 25vh;
    left: 50vw;
    font-size: 100px;
}