.person
{
    border-radius: 50%;
    position: relative;
    top: 15vh;
    left: 45vw;
}

.testimonial
{
    display: grid;
    position: relative;
    top: 15vh;
    left: 37vw;
    grid-template-columns: 500px;
    grid-template-rows: 200px 50px;
    text-align: center;
}