.section-8
{
    background-image: url('../../img/background/alaska_mountain_7.jpg');
    position: relative;
}

.section-8-header
{
    font-size: 50px;
    position: absolute;
    top: 30vh;
    left: 10vw;
}

.contact-info-container
{
    position: absolute;
    top: 40vh;
    left: 10vw;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, 30px);
}

.social-media-container
{
    position: absolute;
    top: 60vh;
    left: 10vw;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: 50px;
}
